.block404{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5.95%;
}

.block404 .quad{
    width: 400px;
    position: absolute;
    z-index: -1;
    top: 20%;
    fill: #D5D4E1;
}

.title--xxl, .title--xl{
    font-family: 'Play';
    font-weight: 500;
    color: #141314;
    text-align: center;
}

.title--xxl{
    font-size:calc(66px + 30 * (100vw - 320px) / 1000);
    margin: 0;
    font-weight: 700;
}

.title--xl{
    font-size:calc(32px + 12 * (100vw - 320px) / 1000);
    margin-bottom: 3.96%;
}

.auth .enterBtn
{
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000 !important;
}

.requestModal .Btn_borderedBtn__cpulo:hover,
.block404 .Btn_borderedBtn__cpulo:hover,
.auth .enterBtn:hover{
    transform: none !important;
    color: #fff;
    background-color: #000;
}


